h1 Welcome
p1 eworks.crypto payment gateway
div
    h2 Click the button to continue
    form(method='post', action='/invoice')
        p
            label Amount
            input(type='number', name='amount')
        p
            input(type='submit', name='submit')


